<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billion.boot.mapper.BookMapper">
    <select id="queryBooks" resultType="com.billion.boot.Book">
        select * from spring_book
    </select>
</mapper>